
@import 'utils/vars';
@import 'utils/reset';
@import 'utils/mixins';
@import 'utils/fonts';


/* Base styles */
::-webkit-scrollbar { width: 10px; height: 10px; }
::-webkit-scrollbar-track { box-shadow: $mainShadow; }
::-webkit-scrollbar-thumb { background: $accentColor; outline: 1px solid $borderColor; }
::-webkit-scrollbar-corner { background: $accentColor; }
::-webkit-resizer { background: $borderColor; }

html { font-size: $mainFontSize; }
body { background: $backgroundColor; color: $mainColor; font-weight: $mainFontWeight; font-size: 1rem; font-family: $mainFont; line-height: $mainLineHeight;

  scrollbar-width: thin;
  scrollbar-color: $accentColor $borderColor;
}

#app { position: relative; width: 100%; max-width: $desktopWidth_lg; margin: 0 auto; }

h1 { font: normal 3rem/1 'Mossport'; text-transform: uppercase; }
h2,
h3 { font: normal 3.25rem/1 'Mossport'; text-transform: uppercase; }
h4 { color: $accentColor; font: 600 1.5rem/1.2 'Raleway'; }
// h5 { font: normal 1.2rem/1.2 'Mossport'; }
// h6 { font: normal 1rem/1.2 'Mossport'; }

p { color: $darkGrey; font: 500 1rem/1.4 'Raleway'; }
b { font-weight: bold; }
i { font-style: italic; }

a { color: $linkColor; transition: all .3s ease-out;
  &:active,
  &:hover,
  &:focus { color: $linkColor; }

  svg { transition: fill .3s ease-out; }
}

hr { background: $mainColor; }

.container { position: relative; width: 100%; margin: 0 auto; padding: 1.875rem .9375rem; background: transparent; display: grid; grid-gap: 1.875rem .9375rem; grid-template-rows: auto; grid-template-columns: repeat(6, 1fr);

  @media screen and (min-width: $mobileWidth) {}
  @media screen and (min-width: $mobileWidth_md) {}
  @media screen and (min-width: $tabletWidth) { width: $tabletWidth; padding: 1.875rem; grid-gap: 1.875rem; grid-template-columns: repeat(8, 1fr); }
  @media screen and (min-width: $laptopWidth) {}
  @media screen and (min-width: $desktopWidth) { width: $desktopWidth; grid-template-columns: repeat(12, 1fr); }
  @media screen and (min-width: $desktopWidth_md) { width: $desktopWidth_md; }
}

@media screen and (min-width: $tabletWidth) {
  h1 { font-size: 6rem; }
  h2,
  h3 { font-size: 4rem; }

  p { font-size: 1.125rem; }

  a:hover { color: $linkColor_hover; }
}
@media screen and (min-width: $desktopWidth) {
  h1 { font-size: 8.25rem; }
}


/* Form styles */
form {
  fieldset { position: relative; display: flex; }

  label { position: absolute; left: 0; top: 4px; color: $darkGrey; font: normal 1rem/1 'Gotham Pro'; cursor: text; transition: all .3s ease-out;
    &.focused { top: -16px; font-size: .8125rem; cursor: default; }
  }
  textarea,
  input { width: 100%; border-bottom: 1px solid $darkGrey; background: transparent; color: $darkGrey; font: normal 1rem/1 'Gotham Pro';
    &::placeholder { color: $darkGrey; }
    &:focus { border-color: $successColor; }
    &.error { border-color: $errorColor; }
  }
  textarea { min-height: 6rem; padding: .5rem 0; resize: none; }
  input { height: 2rem; }

  @media screen and (min-width: $tabletWidth) {}
}

.button { backdrop-filter: blur(0px);
  a { width: 12.125rem; height: 12.125rem; border-radius: 50%; padding: 1.875rem; background: url('/image/pattern/button.png'), $linkColor; background-position: center; background-size: cover; color: $white; backdrop-filter: blur(64px); font: normal 1.5rem/1 'Mossport'; letter-spacing: 1.5px; text-align: center; text-transform: uppercase; white-space: nowrap; display: inline-flex; justify-content: center; align-items: center;
    &:hover { color: $white; }

    svg { width: 18px; height: 18px; margin-left: .375rem; fill: $white; flex: none; }
  }

  &_min { width: 100%;
    a { width: 100%; height: 3rem; border-radius: 1.5rem; padding: 0 1.125rem; }
  }

  &_form a { width: auto; height: 4.375rem; border-radius: 0; padding: 0 1.875rem; background: $darkGrey; color: $lightGrey; backdrop-filter: blur(0px); }

  @media screen and (min-width: $tabletWidth) {
    a { margin: 1rem; font-size: 2rem;
      &:hover { width: 14.125rem; height: 14.125rem; margin: 0; color: $white; }

      svg { width: 16px; height: 16px; margin-top: .5rem; }
    }

    &_min a { margin: 0; border-radius: 1.3125rem;
      &:hover { width: 100%; height: 100%; }
    }

    &_form a { margin: 0;
      &:hover { width: auto; height: 4.375rem; }
    }
  }
  @media screen and (min-width: $desktopWidth) {
    &_min a { height: 2.625rem; }
  }
}


/* Layout styles */
header { @include z('header');
  .container { padding: .9375rem;
    .header { grid-column: 1 / 7; display: flex; justify-content: space-between; align-items: center;
      &-logo { display: flex;
        a img { width: 32px; height: 32px; flex: none; }

        &__moscow { margin-right: 1rem;
          a { display: flex;
            img { width: 27px; flex: none; }
            span { display: none; }
          }
        }
      }

      &__group { display: flex; align-items: center; }

      &-menu ul { display: flex;
        li { margin-right: 1rem;
          a { color: $white; font: normal 1.125rem/1 'Mossport'; text-transform: uppercase; white-space: nowrap; }
        }
      }
      &-covid-free { margin-right: 1rem;
        a { border: 2px solid $borderColor; border-radius: 50%; padding: .375rem .625rem; color: $accentColor; font: normal 1rem/1 'Gotham Pro'; text-align: center; display: flex; flex-direction: column; align-items: center;
          span { color: $white; }
        }
      }
      &-auth a { font: normal 1.125rem/1 'Mossport'; text-transform: uppercase; }
    }

    @media screen and (min-width: $tabletWidth) { padding: 1.875rem 1.875rem 1.375rem;
      .header { grid-column: 1 / 9;
        &-logo {
          a img { width: 40px; height: 40px; }

          &__moscow { margin-right: 1.5rem;
            a {
              img { width: 34px; }
              span { margin-left: .25rem; color: $mainColor; font-weight: 500; font-size: .5625rem; line-height: 1.1; display: inline-block; }
            }
          }
        }

        &-menu ul li { margin-right: 1.5rem;
          a { font-size: 2.375rem;
            &:hover { color: $linkColor_hover; }
          }
        }
        &-covid-free { margin-right: 1.5rem;
          a { padding: .5rem 1.75rem;
            &:hover { border-color: $white; }
          }
        }
        &-auth a { font-size: 2.375rem; }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .header { grid-column: 1 / 13; }
    }
  }
}

main { @include z('main');
  .container {
    .content { grid-column: 1 / 7; }

    @media screen and (min-width: $tabletWidth) {
      .content { grid-column: 1 / 9; }
    }
    @media screen and (min-width: $desktopWidth) {
      .content { grid-column: 1 / 13; }
    }
  }
}

footer { @include z('footer');
  .container { padding-bottom: 3.25rem;
    .footer { grid-column: 1 / 7; border-top: 2px solid $borderColor; padding-top: 1.875rem; display: flex; flex-direction: column;
      &-logo { margin-bottom: 1.75rem; display: flex; justify-content: space-between;
        a img { width: 173px; height: 49px; flex: none; }

        &__moscow { margin-right: 1rem;
          a { display: flex;
            img { width: 45px; height: 53px; flex: none; }
            span { margin-left: .25rem; color: $mainColor; font-weight: 500; font-size: .5625rem; line-height: 1.1; }
          }
        }
      }

      &-info { margin-bottom: 1.125rem; }

      &__group { display: flex; align-items: center; }

      &-social { width: calc((100% - .75rem) / 2); margin-right: .75rem;
        a { border: 2px solid $borderColor; border-radius: 50%; padding: 1.125rem .625rem; display: flex; justify-content: center; align-items: center;
          svg { width: 32px; height: 32px; fill: $white; }
        }
      }
      &-covid-free { width: calc((100% - .75rem) / 2);
        a { border: 2px solid $borderColor; border-radius: 50%; padding: .875rem .625rem; color: $accentColor; font: normal 1.25rem/1 'Gotham Pro'; text-align: center; display: flex; flex-direction: column; align-items: center;
          span { color: $white; }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) { padding: 2rem 1.875rem;
      .footer { grid-column: 1 / 9; padding-top: 2rem;
        &-logo { justify-content: flex-start;
          a img { width: 210px; height: 60px; }

          &__moscow { margin-right: 1.5rem;
            a {
              img { width: 55px; height: 64px; }
              span { font-size: .875rem; }
            }
          }
        }

        &-info p { font-size: 1.375rem; }

        &-social { width: auto; min-width: 142px; margin-right: 1.5rem; }
        &-covid-free { width: auto; min-width: 142px; }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .footer { grid-column: 1 / 13; flex-direction: row; justify-content: space-between; align-items: center;
        &-logo { margin: 0 2rem 0 0; }

        &-info { width: 508px; margin: 0; }

        &__group { margin-left: 2rem; }

        &-social { width: calc((100% - 1.5rem) / 2);
          a { padding: .875rem 1.75rem;
            &:hover { border-color: $white; }
          }
        }
        &-covid-free { width: calc((100% - 1.5rem) / 2);
          a { padding: .625rem 1.75rem;
            &:hover { border-color: $white; }
          }
        }
      }
    }
  }
}


/* Module styles */
@import 'module/popup';


/* Page styles */
@import 'page/index';
