extends include/main

block variables
  - let title = 'Зимний спортивный фестиваль'
  - let page = 'index'
  -
    let links = [
      { url: '#tubing', title: 'Тюбинг', image: 'tube' },
      { url: '#snowpark', title: 'Взрослый сноупарк', image: 'skis' },
      { url: '#childrens', title: 'Детский сноупарк', image: 'snowboard' },
      { url: '#snowboarding', title: 'Соревнования по сноубордингу', image: 'snowboard' },
      { url: '#ice-rink', title: 'Мероприятия на катках', image: 'skates' },
      { url: '#race', title: 'Рождественский забег', image: 'cross' }
    ]

block content
  section#index
    .container
      .index.content
        .index__video
          video(autoplay loop muted playsinline)
            source(src='/video/logo.mp4' type='video/mp4')
        .index__title
          h1 Зимний спортивный фестиваль
        .index__info
          | Время:
          span 27.12.2021 - 09.01.2022
        .index__desc
          p Зимний спортивный фестиваль — яркое спортивное событие в жизни новогодней Москвы.
          p Более 10 зон спортивных активностей: любительские соревнования, мастер-классы, свободное катание, йога для тех, кому надоели морозы, и первый забег года. Ваши каникулы пройдут мощно вместе с&nbsp;Москомспортом!
        .index__link
          each link in links
            a.hash(href=link.url class=link.image title=link.title)
              | #{ link.title }
              svg
                use(href='/image/icon/link.svg#link')
  section#tubing
    .container
      .tubing.content
        .tubing__video
          video(autoplay loop muted playsinline)
            source(src='/video/tube.mp4' type='video/mp4')
        .tubing__count 01 / 06
        .tubing__title
          h2 Тюбинг
        .tubing__desc
          p Свободное катание на тюбах по&nbsp;крутым склонам. Приходи со&nbsp;своим или бери тюб в аренду. С друзьями — веселее!
        .tubing__remark Количество тюбов в аренду ограничено.
        .tubing__note
          p Допускается одновременное присутствие не более 100 человек на объекте в связи с&nbsp;мерами профилактики COVID-19.
          p Мы заботимся о вашей безопасности и&nbsp;о&nbsp;вашем времени! Запишитесь в короткой форме на сайте, чтобы свободно посетить горку.
        .tubing-info
          .tubing-info__item
            | Дата:
            span 27.12.2021 - 09.01.2022
          .tubing-info__item
            | Время:
            span с 12:00 до 22:00
          .tubing-info__item
            | Локация:
            span Лужники, Фестивальная площадь
        .tubing__button
          .button
            a.open-popup(href='#consent' title='Запись')
              | Запись
              svg
                use(href='/image/icon/link.svg#link')
      .tubing-image.content
        img(src='/image/pattern/1.png' loaded='lazy' alt='pattern')
  section#snowpark
    .container
      .snowpark.content
        .snowpark__video
          video(autoplay loop muted playsinline)
            source(src='/video/skis.mp4' type='video/mp4')
        .snowpark__count 02 / 06
        .snowpark__title
          h2 Взрослый сноупарк&nbsp;&nbsp;&nbsp;&nbsp;
        .snowpark__desc
          p Раздельные трассы для катания на&nbsp;сноуборде и тюбинге, свободное катание и спуски разного уровня сложности, которые подойдут для сноубордистов любой подготовки.
        .snowpark-info
          .snowpark-info__item
            | Дата:
            span 27.12.2021 - 09.01.2022
          .snowpark-info__item
            | Время:
            span с 12:00 до 22:00
          .snowpark-info__item
            | Локация:
            span Лужники, Фестивальная площадь
        .snowpark__remark
          | Исключение :
          span 3 и 8 января соревнования, 31&nbsp;декабря до 19:00.
        .snowpark__link
          a.open-popup(href='#schedule' title='Расписание мастер-классов')
            | Расписание мастер-классов
            svg
              use(href='/image/icon/link.svg#link')
        .snowpark__button
          .button
            a.open-popup(href='#consent' title='Запись')
              | Запись
              svg
                use(href='/image/icon/link.svg#link')
      .snowpark-image.content
        img(src='/image/pattern/2.png' loaded='lazy' alt='pattern')
  section#childrens
    .container
      .childrens.content
        .childrens__video
          video(autoplay loop muted playsinline)
            source(src='/video/snowboard.mp4' type='video/mp4')
        .childrens__count 03 / 06
        .childrens__title
          h2 Детский сноупарк&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        .childrens__desc
          p Для самых маленьких сноубордистов, от 3 до 14 лет, предусмотрена отдельная зона с&nbsp;детскими снарядами и инструктором.
        .childrens-info
          .childrens-info__item
            | Дата:
            span 27.12.2021 - 09.01.2022
          .childrens-info__item
            | Время:
            span с 12:00 до 19:00
          .childrens-info__item
            | Локация:
            span Лужники, Фестивальная площадь
        .childrens__button
          .button
            a.open-popup(href='#consent' title='Запись')
              | Запись
              svg
                use(href='/image/icon/link.svg#link')
  section#snowboarding
    .container
      .snowboarding.content
        .snowboarding__video
          video(autoplay loop muted playsinline)
            source(src='/video/snowboard2.mp4' type='video/mp4')
        .snowboarding__count 04 / 06
        .snowboarding__title
          h2 Соревнования по&nbsp;сноубордингу
        .snowboarding__desc
          p Помимо свободного катания Зимний фестиваль порадует вас профессиональными и&nbsp;любительскими соревнованиями. Принимайте участие и приходите поддержать участников.
        .snowboarding__note
          p Для посещения площадки зарегистрируйтесь в короткой форме, это поможет вам комфортно и быстро пройти зону контроля.
        .snowboarding-info
          .snowboarding-info__item
            | Любительское:
            span 3 января
          .snowboarding-info__item
            | Профессиональное:
            span 8 января
          .snowboarding-info__item
            | Время:
            span с 12:00 до 19:00
          .snowboarding-info__item
            | Локация:
            span Лужники, Фестивальная площадь
        .snowboarding__link
          a(href='#' title='Расписание соревнований')
            | Расписание соревнований
            svg
              use(href='/image/icon/link.svg#link')
        .snowboarding__button
          .button
            a(href='#' title='Регистрация')
              | Регистрация
              svg
                use(href='/image/icon/link.svg#link')
      .snowboarding-image.content
        img(src='/image/pattern/3.png' loaded='lazy' alt='pattern')
  section#ice-rink
    .container
      .ice-rink.content
        .ice-rink__video
          video(autoplay loop muted playsinline)
            source(src='/video/skates.mp4' type='video/mp4')
        .ice-rink__count 05 / 06
        .ice-rink__title
          h2 Мероприятия на катках
        .ice-rink__desc
          p Для тех, кто твердо стоит на коньках и для тех, кто только планирует научиться кататься. Выбирай каток ближе к дому или в любимом парке и приходи на мастер-классы от профессиональных фигуристов и тренеров по фигурному катанию. В программу включены хорошая музыка и праздничное настроение :)
        .ice-rink__link
          a.open-popup(href='#schedule' title='Адреса + расписание катков')
            | Адреса + расписание катков
            svg
              use(href='/image/icon/link.svg#link')
        .ice-rink__button
          .button
            a.open-popup(href='#consent' title='Запись')
              | Запись
              svg
                use(href='/image/icon/link.svg#link')
      .ice-rink-image.content
        img(src='/image/pattern/1.png' loaded='lazy' alt='pattern')
  section#race
    .container
      .race.content
        .race__video
          video(autoplay loop muted playsinline)
            source(src='/video/cross.mp4' type='video/mp4')
        .race__count 06 / 06
        .race__title
          h2 Рождественский забег
        .race__desc
          p Первый забег года для всех, кто ждет открытие сезона и хочет ворваться в 2022 год спортивно. Сотни людей в новогодних костюмах, горячий чай для поддержания духа и призы для участников.
        .race__remark Готовь костюм и регистрируйся в специальной форме!
        .race-info
          .race-info__item
            | Дата:
            span 7 января
          .race-info__item
            | Время:
            span 18:00
          .race-info__item
            | Локация:
            span Лужники
        .race__note
          h4 Правила участия:
          p К участию в забеге допускаются лица от 14 лет и старше.
          p Участие в забеге абсолютно бесплатное.
          p Для участия в забеге необходимо предъявить мед.допуск (справку).
        .race__button
          .button
            a(href='#' title='Регистрация')
              | Регистрация
              svg
                use(href='/image/icon/link.svg#link')
      .race-image.content
        img(src='/image/pattern/2.png' loaded='lazy' alt='pattern')
  section#faq
    .container
      .faq.content
        .faq__title
          h2 FAQ
        ul.faq-list
          li.faq-list__item
            a(href='#' title='Как пройти на площадку?')
              .faq-list__question
                | Как пройти на площадку?
                svg
                  use(href='/image/icon/link.svg#link')
              .faq-list__answer
                p Есть 20 сноубордов в прокат, 10 тюбингов, коньки на катке за отдельную плату.
          li.faq-list__item
            a.open(href='#' title='Предусмотрен ли прокат?')
              .faq-list__question
                | Предусмотрен ли прокат?
                svg
                  use(href='/image/icon/link.svg#link')
              .faq-list__answer
                p Есть 20 сноубордов в прокат, 10 тюбингов, коньки на катке за отдельную плату.
          li.faq-list__item
            a(href='#' title='Где найти расписание активностей?')
              .faq-list__question
                | Где найти расписание активностей?
                svg
                  use(href='/image/icon/link.svg#link')
              .faq-list__answer
                p Есть 20 сноубордов в прокат, 10 тюбингов, коньки на катке за отдельную плату.
          li.faq-list__item
            a(href='#' title='Что от меня потребуется на площадке?')
              .faq-list__question
                | Что от меня потребуется на площадке?
                svg
                  use(href='/image/icon/link.svg#link')
              .faq-list__answer
                p Есть 20 сноубордов в прокат, 10 тюбингов, коньки на катке за отдельную плату.
