
/* Raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

/* Mossport */
@font-face {
  font-family: 'Mossport';
  src: local('Mossport'),
    url('../font/Mossport/Mossport.woff2') format('woff2'),
    url('../font/Mossport/Mossport.woff') format('woff'),
    url('../font/Mossport/Mossport.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Gotham Pro */
@font-face {
  font-family: 'Gotham Pro';
  src: local('Gotham Pro'),
    url('../font/GothamPro/GothamPro.woff2') format('woff2'),
    url('../font/GothamPro/GothamPro.woff') format('woff'),
    url('../font/GothamPro/GothamPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
