
$white                     : #ffffff;
$black                     : #000000;
$darkGrey                  : #888888;
$lightGrey                 : #cecece;

/* Font options */
$mainColor                 : #ffffff;
$mainFontWeight            : normal;
$mainFontSize              : 16px;
$mainFont                  : 'Raleway', sans-serif;
$mainLineHeight            : 1.5;
$mainShadow                : inset 0 0 1px rgba(0, 0, 0, .66);

/* Screen resolution */
$mobileWidth               : 320px;
$mobileWidth_md            : 576px;
$tabletWidth               : 768px;
$laptopWidth               : 992px;
$desktopWidth              : 1260px;
$desktopWidth_md           : 1440px;
$desktopWidth_lg           : 1920px;

/* Primary colors */
$backgroundColor           : #000000;
$linkColor                 : #e72739;
$linkColor_hover           : #ff374a;
$accentColor               : #e72739;
$successColor              : #888888;
$errorColor                : #e72739;

$boxBackground             : #131415;
$borderColor               : #3a3a3a;

$linkGradient              : linear-gradient(199.58deg, rgba(0, 0, 0, 0) 19.15%, rgba(0, 102, 255, .3) 96.84%),
  linear-gradient(143.36deg, rgba(222, 78, 78, 0) 37.41%, rgba(222, 78, 78, .3) 93.86%);
$faqGradient               : linear-gradient(325.56deg, rgba(0, 0, 0, 0) 15.93%, rgba(0, 102, 255, .2) 94.5%),
  linear-gradient(27.12deg, rgba(0, 0, 0, 0) 18.67%, rgba(255, 0, 0, .15) 101.13%);

/* Popup */
  $overlayBackground         : rgba(0, 0, 0, .85);
  $moduleBackground          : #1a191f;
