
/* Popup */
#popup { position: fixed; left: 0; top: 0; width: 100%; height: 100vh; overflow: auto; display: none; @include z('popup');

  /* Однопальцевый скролл для iPad */
  -webkit-overflow-scrolling: touch;

  /* Фикс для странностей в iPad */
  > * { transform: translateZ(0px); }

  .overlay { position: absolute; left: 0; top: 0; width: 100%; min-height: 100vh; backdrop-filter: blur(0px); overflow-x: hidden; display: none; @include z('popup-overlay');
    &-background { position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: $overlayBackground; backdrop-filter: blur(64px); }

    .close-popup { position: absolute; left: auto; top: 20px; right: 20px; border: 2px solid $borderColor; border-radius: 50%; padding: .5rem; display: flex; justify-content: center; align-items: center; @include z('popup-close');
      svg { width: 16px; height: 16px; }

      @media screen and (min-width: $tabletWidth) { top: 30px; right: 30px; padding: 2rem;
        &:hover { border-color: $white; }

        svg { width: 20px; height: 20px; }
      }
    }

    .module { position: relative; width: 100%; opacity: 0; overflow: hidden; display: none;
      &.center { left: 50vw; top: 0; min-height: 100vh; padding: 3rem 2.375rem; background: $moduleBackground; transform: translate(-50%, 0);

        /* Добавляет сглаживание */
        /* -webkit-image-rendering: pixelated; -moz-image-rendering: pixelated; image-rendering: pixelated; */
      }

      /* Расписание */
      &#schedule {
        .container { padding: 2.8125rem .9375rem 3.75rem;
          .schedule { grid-column: 1 / 7;
            &__title { margin-bottom: 1rem; }
            &__info { margin-bottom: 2.5rem; font-weight: 500; font-size: 1.25rem; line-height: 1.2;
              span { margin-left: .375rem; color: $accentColor; }
            }

            &-list { width: 100%; display: flex; flex-direction: column;
              &__item { position: relative; width: 100%; min-height: 22.75rem; border-radius: 1.6875rem; padding: 1rem 1rem 10.0625rem; background: $boxBackground;
                &:not(:last-child) { margin-bottom: 1rem; }
              }
              &__title { margin-bottom: 1rem; font-weight: 600; font-size: 1.25rem; line-height: 1.1; }
              &__desc p:not(:last-child) { margin-bottom: .625rem; }

              &-info { position: absolute; left: 0; bottom: 0; width: 100%; height: 8.0625rem; border-radius: 1.6875rem; padding: .75rem 1rem 3.75rem; background: transparent url('/image/pattern/info.m.png') center no-repeat; background-size: cover; display: flex; flex-wrap: wrap;
                &__item { height: 1.5rem; white-space: nowrap; display: flex; align-items: center;
                  &:nth-child(odd) { margin-right: 1rem; }
                  &:nth-last-child(n+1) { margin-bottom: .75rem; }

                  img { width: 24px; height: 24px; margin-right: .625rem; flex: none; }
                }
                &__button { position: absolute; left: 0; bottom: 0; width: 100%; height: 3rem; display: flex; }
              }
            }
          }
        }
      }

      /* Согласие на расшиб */
      &#consent {
        .consent { width: 100%;
          &__title { margin-bottom: 2rem; }

          &-form {
            &__line { display: flex; flex-direction: column;
              &:not(:last-child) { margin-bottom: 2.5rem; }
              &:first-child { flex-direction: row; }

              label { margin-bottom: .25rem; }
            }
            &__link { width: calc((100% - .5rem) / 2);
              &:not(:last-child) { margin-right: .5rem; }

              a { width: 100%; height: 2.5rem; border: 2px solid $borderColor; border-radius: 1.25rem; padding: 0 1rem; color: $white; font: normal 1.125rem/1 'Gotham Pro'; text-align: center; white-space: nowrap; display: inline-flex; justify-content: center; align-items: center; }
            }
            &__column { margin-top: 2.5rem;
              p { color: $white; font-size: .9375rem; font-family: 'Gotham Pro';
                a { color: $white; }
              }
            }
          }
        }
      }

      @media screen and (min-width: $tabletWidth) {
        &.center { top: 50vh; min-height: auto; padding: 5rem 4.375rem; transform: translate(-50%, -50%); }

        &#schedule {
          .container { padding: 4.25rem 1.875rem;
            .schedule { grid-column: 1 / 9;
              &__title { margin-bottom: 1.75rem; }
              &__info { margin-bottom: 3rem; }

              &-list { flex-direction: row; flex-wrap: wrap;
                &__item { width: calc((100% - 1rem) / 2);
                  &:not(:last-child) { margin: 0; }
                  &:nth-child(odd) { margin-right: 1rem; }
                  &:nth-last-child(n+1) { margin-bottom: 1rem; }
                }
              }
            }
          }
        }

        &#consent { width: 620px;
          .consent { width: 100%;
            &__title { margin-bottom: 2.75rem; }

            &-form {
              &__line:last-child { flex-direction: row; }
              &__link a {
                &:hover { border-color: $white; background: $white; color: $black; }

                &.selected { border-color: $accentColor; background: $accentColor; color: $white; }
              }
              &__column { margin: 0 0 0 2rem;
                p a:hover { color: $linkColor_hover; }
              }
            }
          }
        }
      }
      @media screen and (min-width: $desktopWidth) {
        &#schedule {
          .container {
            .schedule { grid-column: 1 / 13;
              &-list {
                &__item { min-height: 16.75rem; border-radius: 1.3125rem; padding: 2rem 2rem 4.625rem; }
                &__group { margin-right: 10rem; }

                &-info { height: 2.625rem; border-radius: 1.3125rem; padding: 0 0 0 1rem; background-image: url('/image/pattern/info.png'); flex-wrap: nowrap;
                  &__item { width: calc((100% - 3.375rem) / 4); height: auto;
                    &:nth-child(odd) { margin-right: 0; }
                    &:nth-last-child(n+1) { margin-bottom: 0; }
                    &:not(:last-child) { margin-right: 1.125rem; }
                  }
                  &__button { position: relative; width: calc((100% - 3.375rem) / 4); height: auto; margin-left: auto; }
                }
              }
            }
          }
        }
      }
    }
  }
}
