footer
  .container
    .footer
      .footer-logo
        .footer-logo__moscow
          a(href='https://www.mos.ru/moskomsport/' target='_blank' title='Департамент спорта города Москвы')
            img(src='/image/moscow.svg' alt='Департамент спорта города Москвы')
            span
              | Департамент
              br
              | спорта
              br
              | города Москвы
        a(href='/' title='Зимний спортивный фестиваль')
          img(src='/image/logo-footer.svg' alt='Зимний спортивный фестиваль')
      .footer-info
        p
          | При регистрации на мероприятие участник обязуется соблюдать 
          a(href='#' title='Ознакомиться с правилами участия') правила участия
          | .
      .footer__group
        .footer-social
          a(href='https://www.instagram.com/' target='_blank' title='Instagram')
            svg
              use(href='/image/icon/instagram.svg#instagram')
        .footer-covid-free
          a(href='#' title='COVID Free')
            | COVID
            span Free
