-
  let menu = [
    { url: '#faq', title: 'FAQ' },
    { url: '#', title: 'Расшиб' }
  ]

header
  .container
    .header
      .header-logo
        .header-logo__moscow
          a(href='https://www.mos.ru/moskomsport/' target='_blank' title='Департамент спорта города Москвы')
            img(src='/image/moscow.svg' alt='Департамент спорта города Москвы')
            span
              | Департамент
              br
              | спорта
              br
              | города Москвы
        a(href='/' title='Зимний спортивный фестиваль')
          img(src='/image/logo.svg' alt='Зимний спортивный фестиваль')
      .header__group
        nav.header-menu
          ul
            each link in menu
              li
                a.hash(href=link.url title=link.title) #{ link.title }
        .header-covid-free
          a(href='#' title='COVID Free')
            | COVID
            span Free
        .header-auth
          a.open-popup(href='#consent' title='Запись') Запись
