// Popup
#popup
  .overlay
    .overlay-background
    a.close-popup(href='#' title='Закрыть окно')
      svg
        use(href='/image/icon/close.svg#close')
    // Расписание
    .module#schedule
      .container
        .schedule
          .schedule__group
            .schedule__title
              h3 Расписание Мастерклассов по сноуборду и лыжам
            .schedule__info
              | Площадка:
              span Лужники, Фестивальная площадь
          ul.schedule-list
            li.schedule-list__item
              .schedule-list__group
                .schedule-list__title Сноуборд для начинающих на самой простой горке с Денисом Леонтьевым aka Бонус
                .schedule-list__desc
                  p Каток FM на Ходынском поле Каток FM на Ходынском поле Каток FM на Ходынском поле Каток FM на Ходынском поле.
              .schedule-list-info
                .schedule-list-info__item
                  img(src='/image/icon/calendar.svg' alt='icon')
                  | 25 декабря
                .schedule-list-info__item
                  img(src='/image/icon/clock.svg' alt='icon')
                  | 17:20-18:20
                .schedule-list-info__item
                  img(src='/image/icon/tickets.svg' alt='icon')
                  | 30 билетов
            li.schedule-list__item
              .schedule-list__group
                .schedule-list__title Сноуборд для начинающих на самой простой горке с Денисом Леонтьевым aka Бонус
                .schedule-list__desc
                  p Каток FM на Ходынском поле Каток FM на Ходынском поле Каток FM на Ходынском поле.
            li.schedule-list__item
              .schedule-list__group
                .schedule-list__title Сноуборд для начинающих на самой простой горке с Денисом Леонтьевым aka Бонус
              .schedule-list-info
                .schedule-list-info__item
                  img(src='/image/icon/calendar.svg' alt='icon')
                  | 25 декабря
                .schedule-list-info__item
                  img(src='/image/icon/clock.svg' alt='icon')
                  | 17:20-18:20
                .schedule-list-info__button
                  .button.button_min
                    a.toggle-popup(href='#consent' title='Запись')
                      | Запись
                      svg
                        use(href='/image/icon/link.svg#link')
    // Согласие на расшиб
    .module.center#consent
      .consent
        .consent__title
          h3 Согласие на расшиб
        form.consent-form(name='consent' autocomplete='off')
          fieldset.consent-form__line
            input#consent-birthday(type='hidden' name='gender' value='')
            .consent-form__link
              a(href='#' title='Мужской') Мужской
            .consent-form__link
              a(href='#' title='Женский') Женский
          fieldset.consent-form__line
            label(for='consent-birthday') Дата рождения
            input#consent-birthday(type='text' name='birthday' required placeholder='' value='')
          fieldset.consent-form__line
            label(for='consent-stand') Стойка
            input#consent-stand(type='text' name='stand' placeholder='' value='')
          fieldset.consent-form__line
            label(for='consent-name') ФИО
            input#consent-name(type='text' name='name' required placeholder='' value='')
          fieldset.consent-form__line
            .consent-form__button
              .button.button_form.button_send.button_disabled
                a(href='#' title='Отправить') Отправить
            .consent-form__column
              p
                | Нажимая на кнопку «Отправить», вы соглашаетесь с 
                a(href='#' title='') Политикой конфиденциальности
// Popup end
