
/* Index page */
#index {
  .container { padding: 1.5rem .9375rem 2.5rem;
    .index {
      &__video { margin-bottom: 1rem;
        video { width: 100%; }
      }
      &__title { margin-bottom: 1rem; }
      &__info { margin-bottom: 1.5rem; font-weight: 500; font-size: 1.25rem; line-height: 1.2;
        span { margin-left: .75rem; color: $accentColor; }
      }
      &__desc { margin-bottom: 2rem;
        p:not(:last-child) { margin-bottom: .75rem; }
      }
      &__link { display: flex; flex-wrap: wrap;
        a { height: 3rem; border: 2px solid $borderColor; border-radius: 1.5rem; padding: 0 1rem; color: $white; font: normal 1rem/1 'Gotham Pro'; white-space: nowrap; display: inline-flex; justify-content: space-between; align-items: center;
          &:not(:last-child) { margin: 0 .5rem .5rem 0; }

          svg { width: 16px; height: 16px; margin-left: .625rem; fill: $linkColor; flex: none; }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) { padding: 1.5rem 1.875rem 7rem;
      .index { position: relative;
        &__video { position: absolute; top: -28px; right: -600px; margin: 0; z-index: -1;
          video { width: 842px; }
        }
        &__title { margin-bottom: 2.5rem; }
        &__info { margin-bottom: 2rem; font-size: 2rem;
          span { margin-left: 1rem; }
        }
        &__desc { width: 512px; margin-bottom: 4.125rem; }
        &__link { @include z('link');
          a { position: relative; min-width: 192px; height: 2.75rem; border-radius: 1.375rem; font-size: 1.125rem;
            &:not(:last-child) { margin: 0 .5rem 1.25rem 0; }
            &:hover { border-color: $white; background: $white; color: $black;
              &::before { @include pseudo; left: -2px; top: -12.5rem; width: calc(100% + 4px); height: 13.875rem; background: $linkGradient; z-index: -1; }
              &::after { @include pseudo; left: calc((100% - 192px) / 2); top: -208px; width: 192px; height: 192px; background: transparent url('/image/illustration/tube.png') center no-repeat; }
            }

            &.tube:hover::after { background-image: url('/image/illustration/tube.png'); }
            &.skis:hover::after { background-image: url('/image/illustration/skis.png'); }
            &.snowboard:hover::after { background-image: url('/image/illustration/snowboard.png'); }
            &.skates:hover::after { background-image: url('/image/illustration/skates.png'); }
            &.cross:hover::after { background-image: url('/image/illustration/cross.png'); }
          }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) { padding-bottom: 5rem;
      .index { grid-column: 1 / 9; }
    }
  }
}

#tubing {
  .container { padding: 8.8125rem .9375rem 26.3125rem;
    .tubing { position: relative;
      &__video { position: absolute; top: -178px; right: -54px; z-index: -1;
        video { width: 334px; }
      }
      &__count { margin-bottom: .375rem; font: normal 1.5rem/1 'Mossport'; text-transform: uppercase; }
      &__title { margin-bottom: 1rem; }
      &__desc { margin-bottom: 1.5rem;
        p { font-size: 1.3125rem; line-height: 1.25; }
      }
      &__remark { position: relative; margin: 0 0 1.5rem .75rem; font-weight: 500; font-size: 1.25rem; line-height: 1.2;
        &::before { @include pseudo($content: '*'); left: -.75rem; top: 0; color: $accentColor; }
      }
      &__note { margin-bottom: 2.5rem;
        p { line-height: 1.25;
          &:not(:last-child) { margin-bottom: 1rem; }
        }
      }

      &-info { border-radius: 1rem; padding: .75rem 1rem; background: $boxBackground; display: flex; flex-direction: column;
        &__item { font-weight: 500; font-size: 1.25rem; line-height: 1.2; display: flex; flex-direction: column;
          &:not(:last-child) { margin-bottom: .75rem; }

          span { margin-top: .25rem; color: $accentColor; }
        }
      }

      &__button { margin-top: 2.5rem; }
    }
    .tubing-image { position: absolute; left: -300px; bottom: 120px; width: calc(100% + 600px);
      img { width: 100%; }
    }

    @media screen and (min-width: $tabletWidth) { padding: 7.25rem 1.875rem 28.125rem;
      .tubing {
        &__remark { margin-bottom: 2rem; }
        &__note { width: 640px; margin-bottom: 3rem; display: flex;
          p { width: calc((100% - 3.125rem) / 2); font-size: 1rem;
            &:not(:last-child) { margin: 0 3.125rem 0 0; }
          }
        }

        &-info { padding: 1.25rem 1rem; flex-direction: row; flex-wrap: wrap;
          &__item { font-size: 1.5rem; flex-direction: row;
            &:not(:last-child) { margin-bottom: .5rem; }
            &:first-child { margin-right: 2.125rem; }

            span { margin: 0 0 0 .5rem; }
          }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) { padding-bottom: 38.125rem;
      .tubing { grid-column: 1 / 8; margin-left: 4.375rem;
        &__video { top: -222px; right: -660px; z-index: -2;
          video { width: 696px; }
        }
        &__desc { width: 640px;
          p { font-size: 2rem; }
        }
        &__button { position: absolute; right: -454px; bottom: -32px; margin-top: 0; }
      }
    }
  }
}

#snowpark {
  .container { padding: 8.8125rem .9375rem 24.8125rem;
    .snowpark { position: relative;
      &__video { position: absolute; top: -184px; right: -54px; z-index: -1;
        video { width: 334px; }
      }
      &__count { margin-bottom: .375rem; font: normal 1.5rem/1 'Mossport'; text-transform: uppercase; }
      &__title { margin-bottom: 1rem; }
      &__desc { margin-bottom: 2rem;
        p { font-size: 1.3125rem; line-height: 1.25; }
      }

      &-info { border-radius: 1rem; margin-bottom: 1.5rem; padding: .75rem 1rem; background: $boxBackground; display: flex; flex-direction: column;
        &__item { font-weight: 500; font-size: 1.25rem; line-height: 1.2; display: flex; flex-direction: column;
          &:not(:last-child) { margin-bottom: .75rem; }

          span { margin-top: .25rem; color: $accentColor; }
        }
      }

      &__remark { position: relative; margin: 0 0 2.5rem .75rem; font-weight: 500; font-size: 1.25rem; line-height: 1.2; display: inline-flex; flex-direction: column;
        &::before { @include pseudo($content: '*'); left: -.75rem; top: 0; color: $accentColor; }

        span { color: $accentColor; }
      }
      &__link a { height: 3rem; border: 2px solid $borderColor; border-radius: 1.5rem; padding: 0 1rem; color: $white; font: normal 1rem/1 'Gotham Pro'; white-space: nowrap; display: inline-flex; justify-content: space-between; align-items: center;
        &:not(:last-child) { margin: 0 .5rem .5rem 0; }

        svg { width: 16px; height: 16px; margin-left: .625rem; fill: $linkColor; flex: none; }
      }
      &__button { margin-top: 2.5rem; }
    }
    .snowpark-image { position: absolute; left: -300px; bottom: 120px; width: calc(100% + 600px);
      img { width: 100%; }
    }

    @media screen and (min-width: $tabletWidth) { padding: 7.25rem 1.875rem 34.625rem;
      .snowpark {
        &__desc { margin-bottom: 1.375rem; }

        &-info { margin-bottom: 1.5rem; padding: 1.25rem 1rem; flex-direction: row; flex-wrap: wrap;
          &__item { font-size: 1.5rem; flex-direction: row;
            &:not(:last-child) { margin-bottom: .5rem; }
            &:first-child { margin-right: 2.125rem; }

            span { margin: 0 0 0 .5rem; }
          }
        }

        &__remark { margin-bottom: 3rem; }
        &__link a { height: 2.75rem; border-radius: 1.375rem; font-size: 1.125rem;
          &:not(:last-child) { margin: 0 .5rem 1.25rem 0; }
          &:hover { border-color: $white; background: $white; color: $black; }
        }
      }
      .snowpark-image { bottom: 240px; }
    }
    @media screen and (min-width: $desktopWidth) { padding-bottom: 44.625rem;
      .snowpark { grid-column: 1 / 8; margin-left: 4.375rem;
        &__video { top: -178px; right: -660px;
          video { width: 696px; }
        }
        &__desc { width: 640px;
          p { font-size: 2rem; }
        }
        &__button { position: absolute; right: -454px; bottom: -32px; margin-top: 0; }
      }
    }
  }
}

#childrens {
  .container { padding: 8.8125rem .9375rem 9.5625rem;
    .childrens { position: relative;
      &__video { position: absolute; top: -222px; right: -54px; z-index: -1;
        video { width: 334px; }
      }
      &__count { margin-bottom: .375rem; font: normal 1.5rem/1 'Mossport'; text-transform: uppercase; }
      &__title { margin-bottom: 1rem; }
      &__desc { margin-bottom: 2rem;
        p { font-size: 1.3125rem; line-height: 1.25; }
      }

      &-info { border-radius: 1rem; padding: .75rem 1rem; background: $boxBackground; display: flex; flex-direction: column;
        &__item { font-weight: 500; font-size: 1.25rem; line-height: 1.2; display: flex; flex-direction: column;
          &:not(:last-child) { margin-bottom: .75rem; }

          span { margin-top: .25rem; color: $accentColor; }
        }
      }

      &__button { margin-top: 2.5rem; }
    }

    @media screen and (min-width: $tabletWidth) { padding: 7.25rem 1.875rem 8.375rem;
      .childrens {
        &__desc { margin-bottom: 1.375rem; }

        &-info { margin-bottom: 1.5rem; padding: 1.25rem 1rem; flex-direction: row; flex-wrap: wrap;
          &__item { font-size: 1.5rem; flex-direction: row;
            &:not(:last-child) { margin-bottom: .5rem; }
            &:first-child { margin-right: 2.125rem; }

            span { margin: 0 0 0 .5rem; }
          }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) { padding-bottom: 13.375rem;
      .childrens { grid-column: 1 / 8; margin-left: 4.375rem;
        &__video { top: -394px; right: -660px;
          video { width: 696px; }
        }
        &__desc { width: 640px;
          p { font-size: 2rem; }
        }
        &__button { position: absolute; right: -454px; bottom: -64px; margin-top: 0; }
      }
    }
  }
}

#snowboarding {
  .container { padding: 8.8125rem .9375rem 26.5625rem;
    .snowboarding { position: relative;
      &__video { position: absolute; top: -222px; right: -54px; z-index: -1;
        video { width: 334px; }
      }
      &__count { margin-bottom: .375rem; font: normal 1.5rem/1 'Mossport'; text-transform: uppercase; }
      &__title { margin-bottom: 1rem; }
      &__desc { margin-bottom: 2rem;
        p { font-size: 1.3125rem; line-height: 1.25; }
      }
      &__note { margin-bottom: 2rem;
        p { line-height: 1.25; }
      }

      &-info { border-radius: 1rem; margin-bottom: 2.5rem; padding: .75rem 1rem; background: $boxBackground; display: flex; flex-direction: column;
        &__item { font-weight: 500; font-size: 1.25rem; line-height: 1.2; display: flex; flex-direction: column;
          &:not(:last-child) { margin-bottom: .75rem; }

          span { margin-top: .25rem; color: $accentColor; }
        }
      }

      &__link a { height: 3rem; border: 2px solid $borderColor; border-radius: 1.5rem; padding: 0 1rem; color: $white; font: normal 1rem/1 'Gotham Pro'; white-space: nowrap; display: inline-flex; justify-content: space-between; align-items: center;
        &:not(:last-child) { margin: 0 .5rem .5rem 0; }

        svg { width: 16px; height: 16px; margin-left: .625rem; fill: $linkColor; flex: none; }
      }
      &__button { margin-top: 2.5rem; }
    }
    .snowboarding-image { position: absolute; left: -300px; bottom: 120px; width: calc(100% + 600px);
      img { width: 100%; }
    }

    @media screen and (min-width: $tabletWidth) { padding: 7.25rem 1.875rem 28.875rem;
      .snowboarding {
        &__desc { margin-bottom: 1.5rem; }
        &__note { width: 640px;
          p { font-size: 1rem; }
        }

        &-info { margin-bottom: 1.5rem; padding: 1.25rem 1rem; flex-direction: row; flex-wrap: wrap;
          &__item { font-size: 1.5rem; flex-direction: row;
            &:not(:last-child) { margin-bottom: .5rem; }
            &:first-child { margin-right: 2.125rem; }

            span { margin: 0 0 0 .5rem; }
          }
        }

        &__link a { height: 2.75rem; border-radius: 1.375rem; font-size: 1.125rem;
          &:not(:last-child) { margin: 0 .5rem 1.25rem 0; }
          &:hover { border-color: $white; background: $white; color: $black; }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) { padding-bottom: 38.875rem;
      .snowboarding { grid-column: 1 / 8; margin-left: 4.375rem;
        &__video { display: none; }
        &__desc { width: 640px;
          p { font-size: 2rem; }
        }

        &-info { margin-right: 5.25rem; }

        &__button { position: absolute; right: -454px; bottom: -32px; margin-top: 0; }
      }
    }
  }
}

#ice-rink {
  .container { padding: 8.8125rem .9375rem 23.0625rem;
    .ice-rink { position: relative;
      &__video { position: absolute; top: -222px; right: -54px; z-index: -1;
        video { width: 334px; }
      }
      &__count { margin-bottom: .375rem; font: normal 1.5rem/1 'Mossport'; text-transform: uppercase; }
      &__title { margin-bottom: 1rem; }
      &__desc { margin-bottom: 2.5rem;
        p { font-size: 1.3125rem; line-height: 1.25; }
      }
      &__link a { height: 3rem; border: 2px solid $borderColor; border-radius: 1.5rem; padding: 0 1rem; color: $white; font: normal 1rem/1 'Gotham Pro'; white-space: nowrap; display: inline-flex; justify-content: space-between; align-items: center;
        &:not(:last-child) { margin: 0 .5rem .5rem 0; }

        svg { width: 16px; height: 16px; margin-left: .625rem; fill: $linkColor; flex: none; }
      }
      &__button { margin-top: 2.5rem; }
    }
    .ice-rink-image { position: absolute; left: -300px; bottom: 120px; width: calc(100% + 600px); transform: scale(-1, 1);
      img { width: 100%; }
    }

    @media screen and (min-width: $tabletWidth) { padding: 7.25rem 1.875rem 23.875rem;
      .ice-rink {
        &__desc { margin-bottom: 3rem; }
        &__link a { height: 2.75rem; border-radius: 1.375rem; font-size: 1.125rem;
          &:not(:last-child) { margin: 0 .5rem 1.25rem 0; }
          &:hover { border-color: $white; background: $white; color: $black; }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) { padding-bottom: 33.875rem;
      .ice-rink { grid-column: 1 / 8; margin-left: 4.375rem;
        &__video { top: -222px; right: -660px;
          video { width: 696px; }
        }
        &__desc { width: 640px;
          p { font-size: 2rem; }
        }
        &__button { position: absolute; right: -454px; bottom: -32px; margin-top: 0; }
      }
    }
  }
}

#race {
  .container { padding: 8.8125rem .9375rem 16.8125rem;
    .race { position: relative;
      &__video { position: absolute; top: -222px; right: -54px; z-index: -1;
        video { width: 334px; }
      }
      &__count { margin-bottom: .375rem; font: normal 1.5rem/1 'Mossport'; text-transform: uppercase; }
      &__title { margin-bottom: 1rem; }
      &__desc { margin-bottom: 1rem;
        p { font-size: 1.3125rem; line-height: 1.25; }
      }
      &__remark { margin-bottom: 2.5rem; font-weight: 500; font-size: 1.25rem; line-height: 1.2; }

      &-info { border-radius: 1rem; margin-bottom: 2.5rem; padding: .75rem 1rem; background: $boxBackground; display: flex; flex-direction: column;
        &__item { font-weight: 500; font-size: 1.25rem; line-height: 1.2; display: flex; flex-direction: column;
          &:not(:last-child) { margin-bottom: .75rem; }

          span { margin-top: .25rem; color: $accentColor; }
        }
      }

      &__note {
        h4 { margin-bottom: .75rem; }
        p { line-height: 1.15;
          &:not(:last-child) { margin-bottom: .375rem; }
        }
      }
      &__button { margin-top: 2.5rem; }
    }
    .race-image { position: absolute; left: -300px; bottom: 0; width: calc(100% + 600px); transform: scale(-1, 1);
      img { width: 100%; }
    }

    @media screen and (min-width: $tabletWidth) { padding: 7.25rem 1.875rem 29rem;
      .race {
        &__remark { margin-bottom: 2rem; }

        &-info { margin-bottom: 2rem; padding: 1.25rem 1rem; flex-direction: row; flex-wrap: wrap;
          &__item { font-size: 1.5rem; flex-direction: row;
            &:not(:last-child) { margin: 0 2.125rem .5rem 0; }

            span { margin: 0 0 0 .5rem; }
          }
        }

        &__note p { font-size: 1.25rem; }
      }
      .race-image { bottom: 120px; }
    }
    @media screen and (min-width: $desktopWidth) { padding-bottom: 39rem;
      .race { grid-column: 1 / 8; margin-left: 4.375rem;
        &__video { top: -222px; right: -660px;
          video { width: 696px; }
        }
        &__desc { width: 640px;
          p { font-size: 2rem; }
        }

        &-info { margin-right: 9.25rem; }

        &__button { position: absolute; right: -454px; bottom: -32px; margin-top: 0; }
      }
    }
  }
}

#faq {
  .container { padding: 8.8125rem .9375rem 5.3125rem;
    .faq {
      &__title { margin-bottom: .5rem; }

      &-list { border-bottom: 2px solid $borderColor;
        &__item a { border-top: 2px solid $borderColor; padding: 1.5rem 1rem 1.25rem; color: $white; display: block;
          &.open { background: $faqGradient;
            .faq-list__question svg { fill: $white; transform: none; }
            .faq-list__answer { display: block; }
          }
        }
        &__question { font: normal 1.375rem/1 'Mossport'; text-transform: uppercase; display: flex; justify-content: space-between; align-items: center;
          svg { width: 16px; height: 16px; fill: $accentColor; transform: scale(1, -1); }
        }
        &__answer { margin: 1.125rem 0 .25rem; display: none;
          p { color: $mainColor; }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) { padding: 7.25rem 1.875rem 5rem;
      .faq {
        &__title { margin-bottom: 2rem; }

        &-list {
          &__item a { padding: 1.875rem 1rem 1.375rem;
            &:hover { background: $faqGradient;
              .faq-list__question svg { fill: $white; }
            }
          }
          &__question { font-size: 2.25rem; }
          &__answer { margin-top: .875rem; }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .faq { grid-column: 2 / 12; }
    }
  }
}
